.tweet-block {
    text-align: center;
}
.jumbotron {
    text-align: center;
}

.chart-column {
    text-align: center;
}

.tweet-block {

}

.tweet {
    text-align: left;
    width: 300px;
    margin: 0 auto;
    clear: both;
    padding: 10px 10px;
    border-bottom: 1px solid #E1E8ED;
}

.tweet:hover{
    background: #E1E8ED;
}

.avatar {
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

.tweet-list {
    list-style: none;
}

.tweet-list-item {
    clear: both;
}

.tweet-info {
    clear: both;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1px;
}

.node text { font: 12px sans-serif; }

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}